<div class="container">
 <div class="row" >Issue Title     :{{data.title}}</div>
 <div class="row" >Issue Number    :{{data.number}}</div>
 <div class="row" >Issue State     :{{data.state}}</div>
 <div class="row">Issue Created At:{{data.created_at}}</div>
 <div class="row" style="height:50px;">Issue Details   :{{data.body}}</div>
 <div class="row">UserName: {{owner}} </div>
 <div class="row">Repository:{{repo}}</div>
 <div class="row" >User Github URL : <a href="https://github.com/{{owner}}" target="_blank" >User Github URL</a></div>
</div>
