.pagination
{
 margin-left: 75%;
 margin-top: 4%;
}

.centered{
	background-color: gainsboro;
	 position: absolute;
    top: 20px;
    left: 100px;
    transform: translate(-50%, -50%);
}
.pagination>li {
    display: inline-block;
}
.top-left
{
	background-color: gainsboro;
	color: black;
	position: absolute;
    top: 0px;
    left: 16px;
	width: 100%;
	height: 70px;
}
.next{
    position: absolute;
    top: 54px;
    left: 84%;
}



#i53Label
{
	font-size: 20px;
}

#i53
{
	font-size: 20px;
}

.button {
    background-color:cadetblue; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
@media only screen and (max-width: 600px) {
   .top-left
	{
		height: 100px;
	}
	.row{
		height: 90px;
	}
} 
@media only screen and (min-width: 600px) {} 
@media only screen and (min-width: 768px) {} 
@media only screen and (min-width: 992px) {} 
@media only screen and (min-width: 1200px) {}